---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="tradingview-widget-container">
			<div class="tradingview-widget-container__widget"></div>
			<script type="text/javascript">
				const script = document.createElement("script");
				script.src =
					"https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js";
				script.async = true;
				script.innerHTML = JSON.stringify({
					symbols: [
						{ proName: "FOREXCOM:SPXUSD", title: "S&P 500" },
						{ proName: "FOREXCOM:NSXUSD", title: "NASDAQ" },
						{ proName: "FOREXCOM:DJI", title: "Dow Jones" },
						{ proName: "BITSTAMP:BTCUSD", title: "Bitcoin" },
						{ proName: "BITSTAMP:ETHUSD", title: "Ethereum" },
						{ proName: "NASDAQ:AAPL", title: "Apple" },
						{ proName: "NASDAQ:MSFT", title: "Microsoft" },
						{ proName: "NASDAQ:GOOGL", title: "Google" },
						{ proName: "NASDAQ:META", title: "Meta" },
						{ proName: "NASDAQ:NVDA", title: "Nvidia" },
						{ proName: "NASDAQ:AMZN", title: "Amazon" },
						{ proName: "NASDAQ:TSLA", title: "Tesla" },
						{ proName: "NASDAQ:AMD", title: "AMD" },
						{ proName: "NYSE:BRK.B", title: "Berkshire Hathaway" },
						{ proName: "OANDA:XAUUSD", title: "Gold" },
						{ proName: "OANDA:USOIL", title: "Oil" },
					],
					showSymbolLogo: true,
					colorTheme: "light",
					isTransparent: false,
					displayMode: "adaptive",
					locale: "es",
				});
				document.currentScript.parentNode.appendChild(script);
			</script>
		</div>
		<main>
			<h1 class="news-title">
				Noticias del dia:{" "}
				{new Date().toLocaleDateString("es-ES", {
					weekday: "long",
					year: "numeric",
					month: "long",
					day: "numeric",
				})}
			</h1>
			<ol class="post-list">
				{
					posts.map((post) => (
						<li class="post-line">
							<div class="post-content">
								<a href={`/blog/${post.id}`} class="post-title">
									{post.data.title}
								</a>
								<span class="post-meta">
									<time
										datetime={post.data.pubDate.toISOString()}
									>
										{post.data.pubDate.toLocaleDateString(
											"es-ES",
											{
												year: "numeric",
												month: "short",
												day: "numeric",
											},
										)}
									</time>
								</span>
							</div>
						</li>
					))
				}
			</ol>
		</main>
		<Footer />
	</body>
</html>

<style>
	body {
		font-family: Verdana, Geneva, sans-serif;
		background-color: #fff;
		margin: 0;
		padding: 8px 8px 60px 8px;
	}

	main {
		max-width: 85%;
		margin: 10px auto;
	}
	.news-title {
		font-size: 14pt;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.post-list {
		padding: 0 0 0 2.5em;
		margin: 0;
		color: #828282;
	}

	.post-list li::marker {
		font-size: 10pt;
	}

	.post-line {
		padding: 2px 0;
		line-height: 1.5;
	}

	.post-content {
		display: inline;
	}

	.post-title {
		text-decoration: none;
		color: #000000;
		font-size: 10pt;
	}

	.post-title:visited {
		color: #828282;
	}

	.post-title:hover {
		text-decoration: underline;
	}

	.post-meta {
		font-size: 8pt;
		color: #828282;
		margin-left: 5px;
	}

	time {
		color: #828282;
	}

	@media (max-width: 750px) {
		main {
			max-width: 100%;
			margin: 10px;
		}

		.post-line {
			padding: 4px 0;
		}
	}
</style>
